.signup {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   border-radius: 5px;
   padding: 4rem 8rem 6rem;
   overflow: hidden;
   background-color: white;

   @media only screen and (max-width: 40em) {
      padding: 5rem;
   }

   @media only screen and (max-width: 26em) {
      padding: 3rem;
   }
}

.signupHeader {
   grid-column: 1/-1;
   display: flex;
   gap: 1.5rem;
   flex-direction: column;
   align-items: center;
   margin-bottom: 3rem;

   &>h1 {
      font-size: 3.2rem;
      font-weight: 500;
      text-align: center;
      color: var(--color-heading);
   }

   &>p {
      font-size: 1.6rem;
      font-weight: 400;
      text-align: center;
      color: var(--color-text);
   }
}

.formSignup {
   grid-column: 1/-1;
   display: flex;
   gap: 1.5rem;
   flex-direction: column;

   & label {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
   }

   & input {
      width: auto;
      padding: 1.5rem 1.4rem;
   }

   & button {
      font-size: 1.8rem;
      font-weight: 500;
      display: flex;
      justify-content: center;
      padding: 1.4rem 2rem;
      color: white;
      border-radius: 3px;
      background-color: var(--color-primary);

      @media only screen and (max-width: 64em) {
         width: 100%;
      }
   }
}

.formGroup {
   display: flex;
   flex-direction: column;
   position: relative;
}

.formError {
   font-size: 1.3rem;
   font-weight: 600;
   color: #ff1241;
   padding: 5px 0;
}

/* .formPasswordInfo {
   font-size: 1.4rem;
   font-weight: 600;
   color: #64728c;
   padding: 1rem 0;
   margin-bottom: 3rem;
} */

.formCheckbox {
   font-size: 1.5rem;
   color: #64728c;
   position: relative;
   width: 100%;
   display: flex;
   gap: 1.2rem;
   align-items: center;
   margin-top: 3rem;

   &>input {
      padding: 1rem;
   }
}

.formYesAccount {
   text-align: center;
   font-weight: 600;
   font-size: 1.5rem;
   color: #64728c;

   &>a {
      color: var(--color-primary);
   }
}